body{
    background-color: lightgrey;
}
#top{
    text-align: center;
    color:rgba(117, 4, 4, 0.952);
}
#wc{
    color:darkblue;
}
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 100px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
    cursor: pointer;
}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
    
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.container{
    max-width:fit-content;
    margin:auto;
    background: #f2f2f2;
    overflow:auto;
}
.gallery{
    margin:5px;
    border:1px solid #ccc;
    float: left;
    width: 32.2%;
}
.gallery img{
    width:100%;
    height: 420px;
}
.desc{
    padding:15px;
    text-align:center;
}
footer{
    padding:10px;
    font-size:17px;
    font-weight:bold;
    text-align:center;
    background:#594848;
    color:white;
    font-family:Arial;
    letter-spacing:1px;
}
.d1{
    align-content: center;
    text-align: center;
}
@media all and (max-width: 700px){
    .container{
        width:100%
    }
    .gallery{
        width:100%;
    }
    .menu-bar{
        width:auto;
    }
   
    .menu-bar ul li{
        width: 10px;
        margin: 15px;
        padding: 10px;
    }
    .menu-bar ul li:hover{
        background: none;
        border-radius: 3px;
        cursor: pointer;
    }
}
@media all and (max-width: 500px){
    .container{
        width:100%
    }
    .gallery{
        width:100%;
    }
    .menu-bar{
        width:auto;
    }
    .menu-bar ul li{
        width: 10px;
        margin: 15px;
        padding: 10px;
    }
    .menu-bar ul li:hover{
        background: none;
        border-radius: 3px;
        cursor: pointer;
    }

}